.background-customizable {
  margin-top: 20vh;
}

.navbar {
  background: white;
  border-bottom: 2px solid #5e17eb;
}

.nav-btn {
  outline-color: #5e17eb;
  border-color: #5e17eb;
}

.nav-btn:hover {
  background-color: #5e17eb;
  color: white;
}

.user_alert {
  margin-bottom: 0;
  background-color: #5e17eb;
  color: white;
  font-weight: bolder;
  border-radius: 0;
  text-align: center;
}