.background-customizable {
  margin-top: 20vh;
}

.navbar {
  background: white;
  border-bottom: 2px solid #5e17eb;
}

.nav-btn {
  outline-color: #5e17eb;
  border-color: #5e17eb;
}

.nav-btn:hover {
  background-color: #5e17eb;
  color: white;
}

.user_alert {
  margin-bottom: 0;
  background-color: #5e17eb;
  color: white;
  font-weight: bolder;
  border-radius: 0;
  text-align: center;
}

.view-all-appts-btn {
  background-color: #5e17eb;
  color: white;
  text-align: center;
}

.update-history-btn {
  color: white; 
}

.purple-bg {
  background-color: #5e17eb;
}

.light-green-bg {
  background: #17eb5e;
}

.light-green-text {
  color: #17eb5e;
}

.purple-text {
  color: #5e17eb;
}

.white-text {
  color: white;
}

.purple-outline {
  border: 1px solid #5e17eb;
}

.red-outline {
  border: 1px solid red;
}

.bold {
  font-weight: bold;
}

.update-history-btn:hover {
  background-color: white;
  color: #5e17eb; 
  border: 2px solid #5e17eb;
}

.history-btn-text:hover {
  font-size: smaller;
  color: black;
}

.tracker-card {
  border: 2px solid #5e17eb;
}

.tracker-card-title {
  color: #5e17eb;
  text-align: center;
}

.small-text {
  font-size: small;
}

.large-text {
  font-size: larger;
}

.set-appt-con {
  margin: 0 5em;
}